In [10]:
import pandas as pd
import numpy as np
import warnings
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Flatten
warnings.simplefilter('ignore')

In [3]:
data = pd.read_csv('ordered.csv')
data.drop('Unnamed: 0',axis=1,inplace=True)
data.head()

     Volume    Open    High     Low   Close
0  26257096  156.60  158.57  156.07  157.48
1  40804273  159.90  160.00  154.63  155.32
2  26131530  159.26  161.27  159.11  161.06
3  36205896  158.60  161.83  158.27  160.08
4  21870321  157.06  158.92  156.67  158.81

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(data)

StandardScaler()

In [8]:
scaled = pd.DataFrame(scaler.transform(data))

In [9]:
scaled

             0         1         2         3         4
0    -0.979453  2.300750  2.329138  2.325352  2.331086
1    -0.712265  2.417565  2.379466  2.274081  2.254663
2    -0.981759  2.394910  2.424164  2.433592  2.457750
3    -0.796723  2.371547  2.443873  2.403683  2.423076
4    -1.060024  2.317034  2.341456  2.346715  2.378143
...        ...       ...       ...       ...       ...
1659 -0.029418 -1.553781 -1.560589 -1.543506 -1.541705
1660 -0.082234 -1.549887 -1.566220 -1.538166 -1.553734
1661 -0.288448 -1.576082 -1.570795 -1.555612 -1.552673
1662 -0.041269 -1.561569 -1.579946 -1.562377 -1.566118
1663  0.582169 -1.595905 -1.591208 -1.579112 -1.574963

[1664 rows x 5 columns]

In [11]:
def prepare_data(timeseries_data, n_features):
    X, y =[],[]
    for i in range(len(timeseries_data)):
        # find the end of this pattern
        end_ix = i + n_features
        # check if we are beyond the sequence
        if end_ix > len(timeseries_data)-1:
            break
        # gather input and output parts of the pattern
        seq_x, seq_y = timeseries_data[i:end_ix], timeseries_data[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return np.array(X), np.array(y)